.skeleton{
  @apply relative inline-block overflow-hidden cursor-default;

  &::after{
    content: "";
    @apply absolute inset-0 z-[100];
    background: linear-gradient(100deg, rgba(244, 247, 255, 0.03) 25%, rgba(244, 247, 255, 0.05) 50%, rgba(244, 247, 255, 0.03) 75%);
    background-size: 150% 100%;
    animation: shimmer 1s infinite cubic-bezier(0.28, -0.02, 0.58, 1);
  }

  &--text {
    &-xl,
    &-lg,
    &-md,
    &-sm {
      width: 100px;
      border-radius: 5px;
      animation: shimmer 2s infinite;
    }

    &-xl {
      border-radius: 15px;
      height: 49px;
      width: 120px;
    }

    &-lg {
      height: 22px;
    }

    &-md {
      height: 19px;
    }

    &-sm {
      height: 17px;
    }
  }

  &-product{
    @apply w-full h-full rounded-[15px];
  }
}

@keyframes shimmer {
  0% {
    background-position: 150% 0;
  }
  100% {
    background-position: -150% 0;
  }
}