:root {
  --background-cart: #101419;
  --background-checkbox: #797979;
  --background-checkbox-active: #183cbe;
  --background-input: #222;
  --border-input:#444;
  --border-input-focus: #4a90e2;
  --background-input-focus: #2a2a2a;
  --text-input-placeholder:#777;
  --background-input-disabled:#333;
  --text-input-disabled:#666;
  --border-login:#1f2427;

  --color-black-900: #0d1012;
  --color-black-800: #1d1d1d;
  --color-black-700: #222222;
  --color-black-600: #272727;

  --color-white-200: #f0f1f6;
}
